* text=auto eol=lf

*.md  text eol=lf
*.php text eol=lf

*.slin binary

.editorconfig  export-ignore
.gitattributes export-ignore
.gitignore     export-ignore
examples/      export-ignore
Dockerfile     export-ignore
