{
    "$schema": "https://raw.githubusercontent.com/infection/infection/0.34.2/resources/schema.json",
    "source": {
        "directories": [
            "src",
        ],
    },
    "minCoveredMsi": 99,
    "mutators": {
        "@default": true,
        "ProtectedVisibility": {
            "ignore": [
                "Zete7\\React\\AudioSocket\\AbstractConnection::initializeConnection",
            ],
        },
        "ReturnRemoval": {
            "ignore": [
                "Zete7\\React\\AudioSocket\\Server\\AbstractAudioSocketServer::close",
                "Zete7\\React\\AudioSocket\\Server\\ConnectionAudioSocketServer::__construct",
            ],
        },
    },
    "logs": {
        "text": "var/log/infection.log",
    },
    "tmpDir": "var/tmp/infection",
}
