includes:
	- /composer/vendor/phpstan/phpstan-strict-rules/rules.neon
	- /composer/vendor/phpstan/phpstan-phpunit/extension.neon
	- /composer/vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
	level: max
	paths:
		- examples
		- src
		- tests
	tmpDir: var/tmp/phpstan
	stubFiles:
		- stubs/Evenement/EventEmitterInterface.stub
		- stubs/React/Stream/ReadableStreamInterface.stub
		- stubs/React/Stream/Util.stub
		- stubs/React/Stream/WritableStreamInterface.stub
	reportIgnoresWithoutComments: true
